<?xml version="1.0" encoding="UTF-8"?>
<suite name="Oyorooms Suite 1" verbose="1">
	<listeners>
		<listener class-name="utils.TestListener" />
	</listeners>
	<test name="Regression suite 1">
		<classes>
			<class name="tests.SearchPageTest" />
			<class name="tests.HomePageTest" />
			<class name="tests.HotelPageTest" />
			<class name="tests.BookingConfirmationPageTest" />
		</classes>
	</test>
</suite>